[Unit]
Description=Spiked service
After=syslog.target network.target
After=network-online.target

[Service]
Type=forking
ExecStart=/opt/spiked/latest/sbin/start.sh
ExecStop=/opt/spiked/latest/sbin/stop.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

